<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">
  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Listado de Documentos Test
          <!--small>Example 2.0</small-->
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <!--li><a href="#">Layout</a></li-->
          <li class="active">Carga</li>
        </ol>
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="info-box bg-red">
              <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Provisionado</span>
                <span class="info-box-number">$ 15.789.543</span>
              </div>
            </div>
            <div class="box box-primary provi">
              <div class="box-header with-border">
                <h3 class="box-title">Compañias</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <ul class="products-list product-list-in-box">
                  <li class="item">
                    <div class="product-img">
                      <img src="/assets/default-50x50.gif" alt="Product Image">
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title">Liberty
                        <span class="label label-warning pull-right">$12.789.543</span></a>
                        <span class="product-description">Periodo</span>
                    </div>
                  </li>
                  <!-- /.item -->
                  <li class="item">
                    <div class="product-img">
                      <img src="/assets/default-50x50.gif" alt="Product Image">
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title">BCI
                        <span class="label label-info pull-right">$1.700.223</span></a>
                        <span class="product-description">Periodo</span>
                    </div>
                  </li>
                  <!-- /.item -->
                  <li class="item">
                    <div class="product-img">
                      <img src="/assets/default-50x50.gif" alt="Product Image">
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title">Chilena
                        <span class="label label-danger pull-right">$3.500.456</span></a>
                        <span class="product-description">Periodo</span>
                    </div>
                  </li>
                  <!-- /.item -->
                </ul>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <div class="col-lg-6 text-center">
                  <a href="javascript:void(0)" class="uppercase">Ver Todos</a>
                </div>
                <div class="col-lg-6 text-center">
                  <a href="javascript:void(0)" class="uppercase">Buscar</a>
                </div>
              </div>
              <!-- /.box-footer -->
            </div>

          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="info-box bg-yellow">
              <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Pendiente</span>
                <span class="info-box-number">$ 13.768.543</span>
              </div>
            </div>

            <div class="box box-primary pend">
              <div class="box-header with-border">
                <h3 class="box-title">Compañias</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <ul class="products-list product-list-in-box">
                  <li class="item">
                    <div class="product-img">
                      <img src="/assets/default-50x50.gif" alt="Product Image">
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title">Liberty
                        <span class="label label-warning pull-right">$12.789.543</span></a>
                        <span class="product-description">Periodo</span>
                    </div>
                  </li>
                  <!-- /.item -->
                  <li class="item">
                    <div class="product-img">
                      <img src="/assets/default-50x50.gif" alt="Product Image">
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title">BCI
                        <span class="label label-info pull-right">$1.700.223</span></a>
                        <span class="product-description">Periodo</span>
                    </div>
                  </li>
                  <!-- /.item -->
                  <li class="item">
                    <div class="product-img">
                      <img src="/assets/default-50x50.gif" alt="Product Image">
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title">Chilena
                        <span class="label label-danger pull-right">$3.500.456</span></a>
                        <span class="product-description">Periodo</span>
                    </div>
                  </li>
                  <!-- /.item -->
                </ul>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <div class="col-lg-6 text-center">
                  <a href="javascript:void(0)" class="uppercase">Ver Todos</a>
                </div>
                <div class="col-lg-6 text-center">
                  <a href="javascript:void(0)" class="uppercase">Buscar</a>
                </div>
              </div>
              <!-- /.box-footer -->
            </div>

          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="info-box bg-green">
              <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Pagado</span>
                <span class="info-box-number">$ 10.550.678</span>
              </div>
            </div>

            <div class="box box-primary paga">
              <div class="box-header with-border">
                <h3 class="box-title">Compañias</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <ul class="products-list product-list-in-box">
                  <li class="item">
                    <div class="product-img">
                      <img src="/assets/default-50x50.gif" alt="Product Image">
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title">Liberty
                        <span class="label label-warning pull-right">$12.789.543</span></a>
                        <span class="product-description">Periodo</span>
                    </div>
                  </li>
                  <!-- /.item -->
                  <li class="item">
                    <div class="product-img">
                      <img src="/assets/default-50x50.gif" alt="Product Image">
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title">BCI
                        <span class="label label-info pull-right">$1.700.223</span></a>
                        <span class="product-description">Periodo</span>
                    </div>
                  </li>
                  <!-- /.item -->
                  <li class="item">
                    <div class="product-img">
                      <img src="/assets/default-50x50.gif" alt="Product Image">
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title">Chilena
                        <span class="label label-danger pull-right">$3.500.456</span></a>
                        <span class="product-description">Periodo</span>
                    </div>
                  </li>
                  <!-- /.item -->
                </ul>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <div class="col-lg-6 text-center">
                  <a href="javascript:void(0)" class="uppercase">Ver Todos</a>
                </div>
                <div class="col-lg-6 text-center">
                  <a href="javascript:void(0)" class="uppercase">Buscar</a>
                </div>
              </div>
              <!-- /.box-footer -->
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.8
      </div>
      <strong>Copyright &copy; 2017 <a href="http://www.mesos.cl">Mesos Corredores</a>.</strong> Todos los Derechos Reservados.
    </div>
    <!-- /.container -->
  </footer>
</div>
</body>
