<li class="dropdown user user-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <img src="/assets/user2-160x160.jpg" class="user-image" alt="User Image">
    <span class="hidden-xs"><%= current_user.email %></span>
  </a>
  <ul class="dropdown-menu">
    <li class="user-header">
      <img src="/assets/user2-160x160.jpg" class="img-circle" alt="User Image">
      <p> <%= current_user.email %>
        <small>Creado el  <%= current_user.created_at %></small>
      </p>
    </li>
    <li class="user-footer">
      <div class="pull-left">
        <a href="#" class="btn btn-default btn-flat">Profile</a>
      </div>
      <div class="pull-right">
        <a href="<%= destroy_user_session_path %>" data-method="DELETE" class="btn btn-default btn-flat">Cerrar Session</a>
      </div>
    </li>
  </ul>
</li>
